@import url("mobile.css") handheld; 
@import url("mobile.css") only screen and (max-device-width:480px);
body { 
    background-color: gray;
    background: url(../images/bcg.gif);
    font-family: Verdana;
    font-size: 1em !important;
    color: beige;
}
h1 {
    font-size: 1.5em;
    margin-left: 20px;
    margin-top: 20px;
}
h2 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}
a {
    color: #fff;
}
.container {
    margin-right: auto;
    margin-left: auto;
    /*width: 950px;  or 950px */
}
.container730 {
    margin-right: auto;
    margin-left: auto;
    width: 720px; /* or 950px */
    padding: 10px;
}
.border {
    border: orange 1px dashed;
}
.langBox{
    display: box;
    /*position: relative;*/
    /*top: -40px;*/
    /*right: -20px;*/
    float: right;
    z-index: 10;
}
.langBox a {
    color: white;
    font-size: 11px;
}
.flashAdvert {
    /*display: block;*/
    width: 650px;
    height: 250px;
    float: right;
    position: relative;
    text-align: right;
    z-index: 0;
}
.menu{
    margin-top: 30px;
    float: left;    
    background-color: #333333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=40);  /* IE 5-7 */
    -moz-opacity: 0.4;          /* Netscape */
    -khtml-opacity: 0.4;        /* Safari 1.x */
    opacity: 0.4; 
}
.menu li {
    border-bottom: solid 1px grey;
    /*display: block;*/
    height: 40px;
    width: 190px;
    line-height: 2.5em;
    padding-left: 10px;
}
.menu li:hover{
    background-color: background;
}
.selected{
    background-color: background;
}
.menu li a {
    text-decoration: none;
    color: white;
}
#topLeftImages {
    display: table-cell;
    vertical-align: bottom;
}
.child {
    display: inline-block;
}

.etabs { margin: 0; padding: 0; }
.tab { 
    display: inline-block; zoom:1; *display:inline; 
    background: #333333; 
    border: solid 1px #999; 
    border-bottom: none; 
    -moz-border-radius: 4px 4px 0 0; 
    -webkit-border-radius: 4px 4px 0 0; 
}
.tab a { 
    text-decoration: none;
    color: greenyellow;
    font-size: 14px; 
    line-height: 2em; 
    display: block; padding: 0 10px; outline: none; }
.tab a:hover { 
    text-decoration: underline; 
}
.tab.active { 
    background: #999; padding-top: 6px; 
    position: relative; 
    top: 1px; 
    border-color: #666; }
.tab a.active { 
    font-weight: bold; 
}
.tab-container .panel-container { 
    background: #fff; 
    border: solid #666 1px; 
    padding: 10px; 
    -moz-border-radius: 0 4px 4px 4px; 
    -webkit-border-radius: 0 4px 4px 4px; }
.tab-container{
}
#tab-positioner{
    display: block;
    position: relative;
    left: 50px;
    top: 25px;
    /*    margin-left: 50px;
    margin-top: 30px;*/
    width: 600px;
    height: 200px;
}
.breadCrumbsContainer a{
    color: white;
}
.cookiesAlert {
    padding: 20px;
    border-left: dashed 2px orange;
    border-right: dashed 2px orange;
    font-size: 0.8em;
    display: none;
}
.cookiesAlert a{
}
.builtDate{
    font-size: 10px;
    /*display: block;*/ 
    float: left;
}
.footer {
    background-color: #666;
    display: block;
}
.width950 {
    width: 950px;
}
#pricesDiv {
    float: left;
}
#pricesDiv table {
    width: 730px;
}
#pricesDiv table th{
    background-color: #333333;
}
#pricesDiv table tr {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-color: #fff;
}

#pricesDiv table td:nth-child(4){
    text-align: right;
}
#pricesDiv table td:nth-child(3){
    text-align: right;
}
#pricesDiv table td:nth-child(1){
    text-align: right;
    padding-right: 5px;
}
