.flagLang {
   width:20px;
   height:20px;
   background: url(../images/sprite.png) -20px 0px;
}
.langText{
    text-align: center;
}
.langText a {
    float: left;
    display: block;
    height: 20px;
    padding-top: 20px;
    text-decoration: none;
}
