body { 
    background-color: gray;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1100px; /* or 950px */
}
.testBorder {
    border: #000 thin solid;
}
.langBox{
    float: right;
}